In [10]:
import os
import pandas as pd
os.chdir("/content/drive/MyDrive/phd/datasets/grosselin2019")

In [ ]:
os.listdir()

['Grosselin2019_SuppTables.xls',
 'scChIP',
 '.~lock.Grosselin2019_SuppTables.xls#',
 'scRNA']

In [15]:
os.listdir("scRNA/filtered_gene_bc_matrices_HBCx-22/mm10")

['barcodes.tsv', 'matrix.mtx', 'genes.tsv']

In [14]:
pd.read_excel("Grosselin2019_SuppTables.xls").head(2)

                         ID   chr  ...  Gene  Peak_cumulative_clusters
0  chr1_181650000_181700000  chr1  ...   NaN                       NaN
1  chr1_187550000_187600000  chr1  ...   NaN                       NaN

[2 rows x 11 columns]

In [20]:
pd.read_csv("scRNA/filtered_gene_bc_matrices_HBCx-22/mm10/matrix.mtx", sep=" ", skiprows=1).head(2)

                  %
27998 1191  1775155
14    1           3

In [22]:
pd.read_csv("scRNA/filtered_gene_bc_matrices_HBCx-22/mm10/genes.tsv", sep="\t", header=None).head(2)

                         0            1
0  mm10_ENSMUSG00000051951    mm10_Xkr4
1  mm10_ENSMUSG00000089699  mm10_Gm1992

In [23]:
pd.read_csv("scRNA/filtered_gene_bc_matrices_HBCx-22/mm10/barcodes.tsv", sep="\t", header=None).head(2)

                    0
0  AAACCTGAGCCACGCT-1
1  AAACCTGTCGGACAAG-1